@media only screen and (max-width: 768px){
    section{
        width:100%;
        top: 150px;
    }
    .container .homevideo{
        width:auto;
        float:none;
    }
    .mobile-download{
        display: none;
    }
    .logo-text{
        width: auto;
        padding: 28px 0;
        font-size: 25px;
    }
}