.scores{
	float:none;
	margin:0 auto;
	text-align: center;
	top: 80px;
	position: relative;
}
.scores-title{
	padding: 15px;
    color: #333;
    font-size: 18px;
    position: absolute;
    transform: rotate(-30deg);
    background-color: #333;
    top: 47px;
    left: 45px;
    background: url("../images/scores.png");
    background-size: cover;
}
.scores-pdf{
	width: 80%;
    height: 560px;
    margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.fantasy-link{
	font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    padding: 10px 10px;
    margin-top: 5px;
    background: url("../images/scores.png");
    background-size: cover;
    width: 55%;
    float: right;
    color: rgba(56, 55, 53, 0.88);
}
.rotating-dashed {
    position: relative;
    margin: 10px auto;
    width: 295px;
    height: 50px;
    overflow: hidden;
}
  
.dashing {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	color:#ccc;
}
.dashing:nth-of-type(1) { 
	transform: rotate(   0deg );
	top: -1px;
}
.dashing:nth-of-type(2) { 
	transform: rotate(  90deg );
	right: -123px;
}
.dashing:nth-of-type(3) { 
	transform: rotate( 180deg );
	bottom: -1px;
}
 .dashing:nth-of-type(4) { 
	 transform: rotate( 270deg ); 
	 left: -123px;
 }

i {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  border-bottom: 3px dashed;
  animation: slideDash 5s infinite linear;
}

@keyframes slideDash {
  from { transform: translateX( -30% ); }
  to   { transform: translateX(   0% ); }
}
.fantasy-link a{
	margin-top: 6px;
	display: inline-block;
}
