<div class="homevideo">
    <form name="form" ng-submit="login()" role="form">
        <div class="forgot-password">Forgot Password?</div>
        <div>
           <div class="error-container" ng-show="showError" ng-animate="'fade'">
              <p class="error-msg">{{errorMessage}}</p>
              <span ng-click="closeError()" class="icon-cancel-circle"></span>
           </div>
            <div class="form-group">
                <input type="text" name="username" id="username" class="form-control" placeholder = "Sirius mail" ng-model="username" required />
            </div>
            <div class="form-actions clearfix">
                <button type="submit" class="btn btn-danger floatLeft">Send OTP</button>
                <a href="#/login" class="btn btn-danger floatRight">Back</a>
            </div>
        </div>
        <div class="loading">
            <img ng-show="dataLoading" src="../images/load-circle.gif"/>
        </div>
    </form> 
</div>
<link rel="stylesheet" type="text/css" href="css/loginscreen.css">