<div class="left-section">	
	<div class="content-section" id="my-team">	
	   <div class="loading-main" ng-show="dataLoading">
		  <img src="../images/loading.gif"/>
		  <span>Please wait...</span>
	   </div>
		<div class="error-container" ng-show="showError" ng-animate="'fade'">
		  <p class="error-msg">{{errorMessage}}</p>
		  <span ng-click="closeError()" class="icon-cancel-circle"></span>
	   </div>
		<div ng-show="showProfile">
			<div class="my-profile clearfix">
				<div class="team-profile">
					<span class="profile-heading">Points</span>
					<span class="profile-value">{{teamProfile.totalPoints}}</span>
					<span class="profile-heading">Rank</span>
					<span class="profile-value">{{teamProfile.rank}}</span>
					<span class="profile-heading">Transfers</span>
					<span class="profile-value" ng-show="transfersCount">{{teamProfile.transfersLeft}}</span>
					<span class="profile-value" ng-show="!transfersCount">&infin;</span>

				</div>
				<span class="icon-pencil change-squad" showonhover ng-click="changeSquad()"></span>
				<span class="manage-hover-text">Manage team</span>
				<span>{{teamProfile.teamName}}</span>
			</div>
			<ul class="content-container slide clearfix">
				<li class="clearfix" ng-repeat="player in fantasyTeam track by $index">
					<img ng-src={{player.playerImage}} class="image-container" showonhover/>		
					<span class="player-points" showthisonhover>points : {{player.totalPoints}}</span>
					<img src='images/bat.png' ng-show="{{player.playerTypeId}}=='1'" class="specialization"/>
					<img src='images/ball.png' ng-show="{{player.playerTypeId}}=='2'" class="specialization"/>
					<img src='images/bat_ball.png' ng-show="{{player.playerTypeId}}=='3'" class="specialization"/>	
					<img src='../images/captain.png' ng-show="{{player.isCaptain}}== 1" class="is-captain"/>	
					<div class="player-data">
						<span>{{ player.playerName | limitTo: 13}}{{player.playerName.length > 13 ? '...' : ''}}</span>
						<span>$ {{ player.playerPrice }}</span>
					</div>
				</li>
			</ul>
            <a href="#/home" ng-show="selectPlayersLink"><input type="button" class="create-icon main-link select-team" value="Select your team"/></a>
	</div>
	<div ng-show="noHistory" class="no-results">
		<img src="../images/no-results-found.png"/>
		<p ng-click="changeSquad()">Click here to create team</p>
	</div>
	</div>
</div>
<div class="right-section">
    <div class="leader-title">Leader Board</div>
	<div class="leader-board-heading"><a ng-click="showLeaderBoardCurrent()" id="leaderBoardCurrent" class="active">Current</a><a ng-click="showLeaderBoardOverall()" id="leaderBoardOverall">Overall</a></div>
	<ul class="leader-board-content" ng-show="leaderBoard">
		<li class="clearfix" ng-repeat="content in leaderBoardContent | limitTo: 7" ng-click="getLeaderBoardTeamDetails(content)">
			<img ng-src={{content.imageUrl}}>
			<span><a class="underline">{{content.teamName}}</a></span>
			<span>{{content.points}}</span>
		</li>
	</ul>
    <ul class="leader-board-content" ng-show="overall">
		<li class="clearfix" ng-repeat="content in leaderBoardContent | limitTo: 7" ng-click="getLeaderBoardTeamDetails(content)">
			<img ng-src={{content.imageUrl}}>
			<span><a class="underline">{{content.teamName}}</a></span>
			<span>{{content.points}}</span>
		</li>
	</ul>
</div>