<div class="left-section">	
	<div class="error-container" ng-show="showError" ng-animate="'fade'">
      <p class="error-msg">{{errorMessage}}</p>
      <span ng-click="closeError()" class="icon-cancel-circle"></span>
   </div>
	<div class="edit-profile clearfix">
		<div class="edit-profile-details">
			<div>
				 <label>{{displayName}}</label>
				 <!--<span class="icon-pencil" ng-click="enablePasswordReset()"></span>-->
			</div>
			<div class="profile-text-box">
            <form name="form" ng-submit="resetPassword()" role="form">
				<div class="reset-password-link">
				 <input type="password" name = "oldPassword" placeholder="Old password"  ng-model="oldPassword" required/>
				 <!--<input type="password" name="newPassword" placeholder="New password"  ng-model="newPassword" ng-keypress="keyPressPassword($event)" required/>-->
                <input ng-focus="removeBorder()" type="password" name="password" id="password" placeHolder = "New Password" class="form-control" ng-model="newPassword" required />
                <div class="form-group">
                    <input ng-focus="removeBorder()" type="password" name="password" id="password" placeHolder = "Confirm New Password" ng-change = "checkConfirmPassword()" class="form-control" ng-model="confirmPassword" required />
                 <span ng-class = "{'red':result=='error','green':result=='success'}" class="result-check"></span>
                </div>
				</div>
                 
                <div><button type="submit" class="btn">Change Password</button></div>
            </form>	
			</div>
			<!--<div class="edit-profile-photo">
				<img src="{{picUrl}}"/>
				<div class="upload-file">
                    <form action="/server/upload.php" method="post" enctype="multipart/form-data">
                        <div  style="height:200px">Edit User Image
                            <input type="file" fileread="picUrl" name="fileToUpload" id="fileToUpload"/>
                            <button type="submit" value="Upload Image" name="submit" class="icon-checkmark"></button>

                        </div>
                    </form>
				</div>
			</div>-->
		</div>
		<!--<div class="edit-team-details">
			<div ng-show="showTeamName">
				 <label>{{teamName}}</label>
				 <span class="icon-pencil" ng-click="enableRename()"></span>
			</div>
			<form ng-show="renameTeamLink" ng-submit="renameTeam()" class="profile-text-box">
				 <input type="text"  ng-model="teamName" ng-keypress="keyPress($event)" required/>
				 <button type="submit" class="icon-checkmark"></button>
			</form>
			<div class="edit-profile-photo">
				<img src="{{teamProfilePic}}"/>
				<div class="upload-file">
					<div>Edit Team Image
						<input type="file" fileread="teamProfilePic"/>
					</div>
				</div>
			</div>-->
		</div>
	</div>
</div>
<div class="right-section">
	<div class="leader-board-heading"><a ng-click="showLeaderBoardCurrent()" id="leaderBoardCurrent" class="active">Leader Board</a><a ng-click="showLeaderBoardOverall()" id="leaderBoardOverall">Overall</a></div>
	<ul class="leader-board-content" ng-show="leaderBoard">
		<li class="clearfix" ng-repeat="content in leaderBoardContent | limitTo: 7" ng-click="getLeaderBoardTeamDetails(content)">
			<img ng-src={{content.imageUrl}}>
			<span><a class="underline">{{content.teamName}}</a></span>
			<span>{{content.points}}</span>
		</li>
	</ul>
    <ul class="leader-board-content" ng-show="overall">
		<li class="clearfix" ng-repeat="content in leaderBoardContent | limitTo: 7" ng-click="getLeaderBoardTeamDetails(content)">
			<img ng-src={{content.imageUrl}}>
			<span><a class="underline">{{content.teamName}}</a></span>
			<span>{{content.points}}</span>
		</li>
	</ul>
</div>