<link rel="stylesheet" type="text/css" href="css/loginscreen.css">
<link rel="stylesheet" type="text/css" href="../css/resetPassword.css">
<div class="homevideo">
    <form name="formOTP" ng-submit="resetPassword()" role="form">
        <div>
           <div class="error-container" ng-show="showError" ng-animate="'fade'">
              <p class="error-msg">{{errorMessage}}</p>
              <span ng-click="closeError()" class="icon-cancel-circle"></span>
           </div>
            <div class="form-group">
                <label for="password" class="hide">New Password</label>
                <input ng-focus="removeBorder()" type="password" name="password" id="password" placeHolder = "New Password" class="form-control" ng-model="password" required />
            </div>
             <div class="form-group">
                <label for="password" class="hide"> Confirm New Password</label>
                <input ng-focus="removeBorder()" type="password" name="password" id="password" placeHolder = "Confirm New Password" ng-change = "checkConfirmPassword()" class="form-control" ng-model="confirmPassword" required />
                 <span ng-class = "{'red':result=='error','green':result=='success'}" class="result-check"></span>
            </div>
            <div class="form-actions clearfix">
                <button type="submit" class="btn btn-danger">Change Password</button>
            </div>
        </div>
        <div class="loading">
            <img ng-show="dataLoading" src="../images/load-circle.gif"/>
        </div>
    </form>                  
</div>
